body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7c1e6;
}

.box {
    background-color: rgb(242, 165, 219);
    text-align: center;
    color: black;
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
}

.content {
    background-color: rgb(253, 198, 250);
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px 12px;
}

button {
    background-color: rgb(216, 115, 241);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(190, 90, 215);
}
